@{
    ViewData["Title"] = "Home Page";
}

<script src="~/Scripts/jquery.js"></script>
<div class="jumbotron">
    <h2 style="color:chocolate">Welcome to Dot Net Tutorials</h2>
</div>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.getScript("/Home/WarningMessage");
        });
    });
</script>
<button>Show Message</button>
